.containerCard {
    position: relative;
    background-color: rgba(218, 165, 32, 0.65);
    width: 250px;
    height: 380px;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    margin: 2px;
    margin-top: 15px;
    border-radius: 1cm;
    border-style: solid;
    border-color: black;
    align-items: center;
}

.containerCard:hover{
    box-shadow: 0 0 10px rgba(218, 165, 32),
                0 0 20px rgb(0, 0, 0),
                0 0 30px rgb(0, 0, 0),
                0 0 40px rgba(218, 165, 32);
    transform: translate3d(0.1ch, 0.1in, 8em);
    background: linear-gradient(rgba(8, 10, 10, 0.6), rgba(12, 74, 85, 0.6));
    transition: all 400ms ease;
    text-decoration: none;
    color: goldenrod;
} 

.card{
    display: flex;
    flex-direction: row;
}

.card img{
    object-fit: cover;
    object-position: center;
    border-radius: 1cm;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 15px;
    width: 75%;
    height: 20vh;
    display: flex;
    align-self: center;
}

.detailCardHome{
    margin: 0 15px 0 15px;
    background-color: rgba(245, 222, 179, 0.40);
}

.card h2{
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: none;
    color: black;
    margin-top: 1px;
    display: flex;
    width: 100%;
    margin: 5px 0 90px 0;
    margin-left: 0px;
    border-top: 1px solid black;
    padding-top: 8px;
    background-color: rgba(245, 222, 179, 0.40);
}

.card h3{
    display: flex;
    align-items:flex-start;
    color: black;
    margin-top: 50px;
    margin-left: 110px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: none;
    text-align: left;
    padding-left: 20px;
    letter-spacing: 0rem;
}