.containerCardCarry {
    background-color: goldenrod;
    width: 300px;
    height: 450px;
    transition: 0.3s;
    margin: 1.5px;
    margin-top: 40px;
    border: 1px solid transparent;
    display: inline-block;
    padding: 5px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.removeCarry{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
}

.deleteOne{
    margin: 0 0 0 2px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 5px;
    color: goldenrod;
    background-color: black;
}

.deleteOne:hover{
    background-color: white;
    color: goldenrod;
}

.deleteAll{
    margin: 0 0 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 5px;
    color: goldenrod;
    background-color: black;
}

.deleteAll:hover{
    background-color: white;
    color: goldenrod;
}

.containerCardCarry:hover{
    transform: perspective(200px) translateZ(5px);
    box-shadow: 0 12px 16px rgba (0, 0, 0, 0.2);
    transition: all 400ms ease;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgb(238, 238, 238);
} 

.cardCarry img{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-top:auto;
    margin-bottom: 15px ;
    width: 100%;
    height: 25vh;
    display: center;
    align-self: center;
    text-decoration: none;
}

.detailCardCarry{
    margin: 0 5px 0 5px
}

.cardCarry h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-transform: none;
    color: black;
    margin-top: 1px;
    display: flex;
    margin: 6px 0 6px 0;
    letter-spacing: 1px;
    border-top: 1px solid white;
    padding-top: 8px;
}