.order {
  margin: 15px 0 0 0;
  display: flex;
  margin-left: 0px;
  align-items: center;
}

.order li {
  display: inline;
}

.numberPage {
  border: none;
  background-color: inherit;
  padding: 10px 10px;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.9s;
}

.numberPage:hover {
  background-color: #edf2f7;
  color: black;
}

.numberPage:focus {
  color: black;
  background-color: #edf2f7;
}
