.order {
  margin: 40px 0 0 0;
  border: 1px solid #e2e8f0;
  border-radius: 5px;
}

.order li {
  display: inline;
}

.numberPage {
  border: none;
  background-color: inherit;
  padding: 10px 10px;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.9s;
}

.numberPage:hover {
  background-color: #edf2f7;
  color: black;
}

.numberPage:focus {
  color: black;
  background-color: #edf2f7;
}
